<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="body-wrapper">
        <div class="home-page">
            <div class="container">
                <div class="toggle-button">
                    <input type="checkbox" id="mode-toggle" class="toggle-checkbox">
                    <label for="mode-toggle" class="toggle-label"></label>
                </div>
            </div>
            <div class="wrapper">
                <div class="left">
                    <div class="box physical-box">Physical</div>
                <div class="box padai-box">Padai</div>
                <div class="box mental-box">Mental</div>
                </div>
                <div class="charts">
                        <canvas id="myChart"></canvas>
                      </div>
                
                
            </div>
        </div>
        <div class="physical top-page">
            <div class="back-button-div">
                <button class="back-button">Back</button>
            </div>
            
            <a href="/physical"><button class="add-task">Add task</button></a>
            <% try { %>
                <% if (Array.isArray(physicalTask) && physicalTask.length > 0) { %>
                    <% for (let task of physicalTask) { %>
                        <% if (task.left >0) { %>
                        <div class="task-wrapper">
                            <div class="cont-1">
                                <h3><%= task.task %></h3>
                                <% if (task.type === "timer") { %>
                                
                                    <h2>time left: <%= task.left.toFixed(2) %></h2>
                                   
                            <% } %>
                          
                            </div>
                            <div class="cont-2">
                                
                                
                                    <a href="/timer/physical/<%= task._id %>"><button type="submit" class="do-task">Do Task</button></a> 
                                   
                            
                                <form action="/physical/<%= task._id %>?_method=DELETE" method="post">
                                    <button type="submit" class="delete">delete</button>
                                </form>
                            </div>
                            
                            
                        </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } catch (error) { %>
                <h1>Error: <%= error.message %></h1>
            <% } %>
        </div>
        <div class="padai">
            <div class="back-button-div">
                <button class="back-button">Back</button>
            </div>
            <a href="/padai"><button class="add-task">Add task</button></a>
            <% try { %>
                <% if (Array.isArray(padaiTask) && padaiTask.length > 0) { %>
                    <% for (let task of padaiTask) { %>
                        <% if (task.left >0) { %>
                        <div class="task-wrapper">
                            <div class="cont-1">
                                <h3><%= task.task %></h3>
                                <% if (task.type === "timer") { %>
                                
                                    <h2>time left: <%= task.left.toFixed(2) %></h2>
                                    
                                   
                            <% } %>
                          
                            </div>
                            <div class="cont-2">

                                
                                    <a href="/timer/padai/<%= task._id %>"><button type="submit" class="do-task">Do Task</button></a> 
                                   

                                <form action="/padai/<%= task._id %>?_method=DELETE" method="post">
                                    <button type="submit" class="delete">delete</button>
                                </form>
                            </div>
                            
                        </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } catch (error) { %>
                <h1>Error: <%= error.message %></h1>
            <% } %>
        </div>
        <div class="mental">
            <div class="back-button-div">
                <button class="back-button">Back</button>
            </div>
            <a href="/mental"><button class="add-task">Add task</button></a>
            <% try { %>
                <% if (Array.isArray(mentalTask) && mentalTask.length > 0) { %>
                    <% for (let task of mentalTask) { %>
                        <% if (task.left >0) { %>
                        <div class="task-wrapper">
                            
                            <div class="cont-1">
                                <h3><%= task.task %></h3>
                                <% if (task.type === "timer") { %>
                                
                                    <h2>time left: <%= task.left.toFixed(2) %></h2>
                                   
                            <% } %>
                          
                            </div>
                            <div class="cont-2">
                                <a href="/timer/mental/<%= task._id %>"><button type="submit" class="do-task">Do Task</button></a> 
                                <form action="/mental/<%= task._id %>?_method=DELETE" method="post">
                                    <button type="submit" class="delete">delete</button>
                                </form>
                            </div>
                            
                        </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } catch (error) { %>
                <h1>Error: <%= error.message %></h1>
            <% } %>
        </div>
        
          
         
    </div>
    
    
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
    <script>
        const datesOnly = <%- JSON.stringify(datesOnly) %>;
        const timeWorked = <%- JSON.stringify(timeWorked) %>;
      const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: datesOnly,
          datasets: [{
            label: 'Graph',
            data: timeWorked,
            borderWidth: 1
          }]
        },
        options: {
            plugins: {
        // changin the lagend colour
        legend: {
            labels: {
                color: "grey",
            },
        },
    },
          scales: {
            y: {
              ticks: { color: "grey", beginAtZero: true },

            },
            x: {
              ticks: { color: "grey", beginAtZero: true },

            }
          }
          
        }
      });
    </script>
</body>
</html>
