<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbhyasa</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSILsqh4hPGyd3zsf02kdD7M25FD1bIH6cudg&s" type="image/x-icon">
</head>
<body>
    <div class="body-wrapper">
        <div class="home-page">
            <div class="container">
                <div class="toggle-button">
                    <div class="logo" style="display: inline-block; position: absolute; left: 2rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSILsqh4hPGyd3zsf02kdD7M25FD1bIH6cudg&s" alt="" style="width: 2rem; height: 2rem;">
                        <span style="position: absolute; top: 0.5rem; font-weight: 800; left: 2.5rem; font-size: larger;">Abbyasa</span>
                    </div>
                    <input type="checkbox" id="mode-toggle" class="toggle-checkbox">
                    <label for="mode-toggle" class="toggle-label"></label>
                </div>
            </div>
            <div class="wrapper">
                <div class="left">
                    <div class="box physical-box">Physical</div>
                <div class="box padai-box">Study</div>
                <div class="box mental-box">Mental</div>
                </div>
                <div class="charts">
                    <canvas id="physicalMyChart"></canvas>

                    <br>
                    <canvas id="padaiMyChart"></canvas>

                    <br>
                    <canvas id="mentalMyChart"></canvas>

                </div>
                <div class="donuts">
                    <h2>Today's Task</h2>
                    <canvas id="physicalMyChartDonut"></canvas>
                    <br>
                    <canvas id="padaiMyChartDonut"></canvas>
                    <br>
                    <canvas id="mentalMyChartDonut"></canvas>
                </div>
                
                
            </div>
        </div>
        <div class="physical top-page">
            <%- include('../layouts/physicalLayout.ejs') %>
        </div>
        <div class="padai">
            <%- include('../layouts/padaiLayout.ejs') %>
        </div>
        <div class="mental">
            <%- include('../layouts/mentalLayout.ejs') %>
        </div>
        
          
         
    </div>
    
    
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
    <script>
        //transfer variable to chart.js file
        window.datesOnlyPadai = <%- JSON.stringify(datesOnlyPadai) %>;
        window.padaiTimeWorked = <%- JSON.stringify(padaiTimeWorked) %>;
        window.datesOnlyMental = <%- JSON.stringify(datesOnlyMental) %>;
        window.mentalTimeWorked = <%- JSON.stringify(mentalTimeWorked) %>;
        window.datesOnlyPhysical = <%- JSON.stringify(datesOnlyPhysical) %>;
        window.physicalTimeWorked = <%- JSON.stringify(physicalTimeWorked) %>;
        window.currentDayMental=<%- JSON.stringify(currentDayMental) %>;
        window.currentDayPadai=<%- JSON.stringify(currentDayPadai) %>;
        window.currentDayPhysical=<%- JSON.stringify(currentDayPhysical) %>;
        window.physicalTask=<%- JSON.stringify(physicalTask) %>;
        window.padaiTask=<%- JSON.stringify(padaiTask) %>;
        window.mentalTask=<%- JSON.stringify(mentalTask) %>;

        
    </script>
    <script src="./chart.js"></script>
</body>
</html>
